@CHARSET "UTF-8";

/*
** a tag style 
*/
a:link {text-decoration: none; color: #3D9D26; }
a:visited {text-decoration: none; color: #3D9D26; }
a:active {text-decoration: none; color: #3D9D26; }
a:hover {text-decoration: none; color: #96D24B; }

/*
** mainMenu 
*/
#mainMenu {
  background: rgba(22, 22, 22, 0.6); /* background에만 opacity를 주기 위해 사용 */
}

/*
** mainLogo 
*/
#mainLogo {
  display: block;
  margin: 0px auto;
  height: 20px;
}
#mainLogo:hover {
  filter: brightness(150%);
  -moz-filter: brightness(150%);
  -webkit-filter: brightness(150%);
}

/*
** body 
*/
body {
  background-image: url("../image/background_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-position: 50% 0;
  background-size: cover;
  overflow-x: hidden;
  color: #3D9D26; 
}

/*
** menuButton 
*/
/* menu01, menu02, menu03, menu04, menu05, menu06 공통 */
.menu01, .menu02, .menu03, .menu04, .menu05, .menu06 {
    position: relative;
}
.menu01 .text, .menu02 .text, .menu03 .text, .menu04 .text, .menu05 .text, .menu06 .text {
  position: absolute;
  text-align: center;
}
/*   첫 글자 색: #96D24B */
/* 글자 색: #3D9D26 */
.menu01 .text::first-letter, .menu02 .text::first-letter, .menu03 .text::first-letter, .menu04 .text::first-letter, .menu05 .text::first-letter, .menu06 .text::first-letter  {
    color: #96D24B;
    font-size: medium;
}

/* leftMenuButton 공통 */
.menu01, .menu02, .menu03 {
  clear: left;
  float: left;
}

/* rightMenuButton 공통 */
.menu04, .menu05, .menu06 {
  clear: right;
  float: right;
}

/* leftMenuButton01 */
.menu01 .text {
  top: 14px; /* in conjunction with left property, decides the text position */
  left: 80px;
  width: 160px; /* optional, though better have one */
}

/* leftMenuButton02 */
.menu02 .text {
  top: 18px;
  left: 80px;
  width: 180px;
}

/* leftMenuButton03 */
.menu03 .text {
  top: 9px;
  left: 65px;
  width: 160px;
}

/* rightMenuButton01 */
.menu04 .text {
  top: 14px;
  left: 7px;
  width: 170px;
}

/* rightMenuButton02 */
.menu05 .text {
  top: 18px;
  left: 7px;
  width: 225px;
}

/* rightMenuButton03 */
.menu06 .text {
  top: 10px;
  left: 7px;
  width: 185px;
}

/*
** menuStyle 
*/
.menuStyle {
/* 	float: left; */
  margin: 0px 50px 50px 50px;
  display: inline-block; 
  background-color:#080808;
  color: #3D9D26;
  opacity: 0.95;
  border: 3px groove #781706;
  border-radius: 5px;
  padding: 15px;
}

.menuStyle label span {
  display: inline-block;
  width: 120px;
}

.mapCtgrDesc, .mapFileDesc {
  color: silver;
  font-size: 25px;
}

.mapCtgr {
  width: 420px;
  height: 200px;
  overflow-x:hidden;
  overflow-y:scroll;
  border: 3px groove #781706;
  border-radius: 5px;
}

.mapCtgr ul li {
  list-style-type: none;
  display: block;
  font-size: 20px;
}

.mapCtgr ul li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e118";
    font-family: 'Glyphicons Halflings';
    font-size: 13px;
    float: left;
    margin-top: 6px;
    margin-left: -17px;
    color: #EBAA2A;
}

.mapContnr {
  margin-top: 15px;
  padding: 5px;
  width: 420px;
  height: 200px;
  overflow:hidden;
  border: 3px groove #781706;
  border-radius: 5px;
  font-size: 17px;
}

.mapid {
  width: 300px;
}

/*
** Animation
*/
/* 공통 사항 */
.openLeftSide, .closeLeftSide, .openRightSide, .closeRightSide {
  position: relative;
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode:both;
}
/* 왼쪽 메뉴 애니메이션 시작 */
.openLeftSide, .closeLeftSide {
  clear: left;
  float: left;
}

.openLeftSide {
    -webkit-animation-name: openLeftSideMenu; /* Chrome, Safari, Opera */
    -moz-animation-name: openLeftSideMenu;
    animation-name: openLeftSideMenu;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes openLeftSideMenu {
    0%   {left:-120%;}
    100% {left:0%;}
}

/* Standard syntax */
@keyframes openLeftSideMenu {
    0%   {left:-120%;}
    100% {left:0%;}
}
.closeLeftSide {
    -webkit-animation-name: openLeftSideMenu; /* Chrome, Safari, Opera */
    -moz-animation-name: openLeftSideMenu;
    animation-name: closeLeftSideMenu;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes closeLeftSideMenu {
    0%   {left:0%;}
    100% {left:-120%;}
}

/* Standard syntax */
@keyframes closeLeftSideMenu {
    0%   {left: 0%;}
    100% {left:-120%;}
}
/* 왼쪽 메뉴 애니메이션 끝 */

/* 오른쪽 메뉴 애니메이션 시작 */
.openRightSide, .closeRightSide {
  clear: right;
  float: right;
}

.openRightSide {
    -webkit-animation-name: openRightSideMenu; /* Chrome, Safari, Opera */
    -moz-animation-name: openRightSidemenu;
    animation-name: openRightSideMenu;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes openRightSideMenu {
    0%   {right:-120%;}
    100% {right:0%;}
}

/* Standard syntax */
@keyframes openRightSideMenu {
    0%   {right:-120%;}
    100% {right:0%;}
}
.closeRightSide {
    -webkit-animation-name: openRightSideMenu; /* Chrome, Safari, Opera */
    -moz-animation-name: openRightSideMenu;
    animation-name: closeRightSideMenu;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes closeRightSideMenu {
    0%   {right:0%;}
    100% {right:-120%;}
}

/* Standard syntax */
@keyframes closeRightSideMenu {
    0%   {right:0%;}
    100% {right:-120%;}
}
/* 오른쪽 메뉴 애니메이션 끝 */

/*
** jScrollPane
*/
.jspVerticalBar {
   width: 8px;
}
.jspTrack {
   width: 8px;
   background-color: silver;
}
.jspDrag {
   width: 18px;
   background-color: #781706;
}

