<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genius.mapper.BoardMapper">
<select id="selectAll" resultType="com.genius.model.Board">
<![CDATA[
	SELECT BOARDID,
		   BOARDTITLE
	  FROM BOARD
  ORDER BY BOARDID 
]]>
</select>
<insert id="makeBoard" parameterType="com.genius.model.Board">
<![CDATA[
	INSERT INTO BOARD(
						BOARDTITLE
					 )
			   VALUES(
						#{boardtitle}
					 )
]]>
</insert>
</mapper>
