<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genius.mapper.CartMapper">
<insert id="addCart" parameterType="com.genius.model.Cart">
<![CDATA[
	INSERT INTO CART(
						MAPID,
						MEMID
					)
			  VALUES(
			  			#{mapid},
			  			#{memid}
			  		)
]]>
</insert>

<insert id="addCartList" parameterType="java.util.List">
<![CDATA[
	INSERT INTO CART(
						MAPID,
						MEMID
					)
			  VALUES
]]>
<foreach collection="list" item="cartList" open="(" separator="),(" close=")">
					#{cartList.mapid},
					#{cartList.memid}
</foreach>	
</insert>

<!-- List<Integer>으로 반환값을 설정했는데 TreeSet으로 비교하기 위함(객체끼리 중복 비교가 안됨) -->
<select id="getCartList" parameterType="String" resultType="Integer">
<![CDATA[
	SELECT MAPID
	  FROM CART
	 WHERE MEMID = #{memid}
  ORDER BY MAPID
]]>
</select>

<delete id="deleteAllCartListByMemid" parameterType="String">
<![CDATA[
	DELETE FROM CART
		  WHERE MEMID = #{memid}
]]>
</delete>
<delete id="deleteCartByMapid" parameterType="java.util.List">
<![CDATA[
	DELETE FROM CART
		  WHERE
]]>
<foreach collection="list" item="mapidList" separator="OR">
				MAPID = #{mapidList}
</foreach>
</delete>
</mapper>
