<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genius.mapper.CsbMapper">
<insert id="insertCs" parameterType="com.genius.model.Csb">
<![CDATA[
INSERT INTO CSBOARD (
						CSTYPE,
						CSTITLE,
						CSCONT,
						CSIP,
						CSFILE,
						BOARDID,
						MEMID
					)
			 VALUES (
			 			#{cstype},
			 			#{cstitle},
			 			#{cscont},
			 			#{csip},
			 			#{csfile},
			 			#{boardid},
			 			#{memid}
			 		)
]]>
</insert>
</mapper>
