<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genius.mapper.CsbMapper">
<insert id="insertCs" parameterType="com.genius.model.Csb">
<![CDATA[
INSERT INTO CSBOARD (
						CSTYPE,
						CSTITLE,
						CSCONT,
						CSIP,
						CSFILE,
						BOARDID,
						MEMID
					)
			 VALUES (
			 			#{cstype},
			 			#{cstitle},
			 			#{cscont},
			 			#{csip},
			 			#{csfile},
			 			#{boardid},
			 			#{memid}
			 		)
]]>
</insert>
<select id="selectCs" resultType="com.genius.model.Csb" >
SELECT CSID,
		CSTITLE,
		MEMID,
		CSCONT,
		CSDATE,
		CSTYPE
		FROM CSBOARD
</select>

<select id="selectById" resultType="com.genius.model.Csb" parameterType="Integer">
SELECT 					CSID,
						CSTYPE,
						CSTITLE,
						CSCONT,
						CSIP,
						CSFILE,
						BOARDID,
						MEMID
						FROM CSBOARD
						WHERE CSID= #{csid}
</select>
<!-- 여기로 던짐  파라미터 타입이 그거임 --> 
<update id="updateCs" parameterType="com.genius.model.Csb">
				
				
UPDATE CSBOARD SET 
						CSTITLE=#{cstitle},
						CSCONT=#{cscont},
					 	CSTYPE=#{cstype},
					 	CSFILE=#{csfile}
				WHERE  CSID=#{csid}

</update>
<delete id="deleteCs" parameterType="com.genius.model.Csb" >
DELETE FROM CSBOARD 
WHERE CSID=#{csid}
</delete>

</mapper>
