<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genius.mapper.FbMapper">
<insert id="insertFb" parameterType="com.genius.model.Fb">

	INSERT INTO FREEBOARD(
						FBTITLE,
						FBCONT,
						FBIP,
						MEMID,
						BOARDID
					 )
			   VALUES(
						#{fbtitle},
						#{fbcont},
						#{fbip},
						#{memid},
						#{boardid}
					 )
</insert>

<select id="selectformfb" resultType="com.genius.model.Fb" parameterType="integer">
 SELECT FBID,
		FBTITLE,
		FBCONT,
		FBCOUNT,
		FBIP,
		BOARDID,
		MEMID,
		FBDATE,
		FBREC
   FROM FREEBOARD
  WHERE FBID= #{fbid}
</select>
  

<!--  <update id="updatefb" parameterType="com.genius.model.Fb">
UPDATE FREEBOARD SET 
  FBCOUNT = FBCOUNT + 1 
  WHERE FBID= #{fbid}
</update>
-->

<update id="updateFb"    parameterType="integer">
UPDATE FREEBOARD SET 
  FBCOUNT = FBCOUNT + 1 
  WHERE FBID= #{fbid}
</update>

<update id="updateRec"    parameterType="integer">
UPDATE FREEBOARD SET 
  FBREC = FBREC + 1 
  WHERE FBID= #{fbid}
</update>


<select id="selectListfb" resultType="com.genius.model.Fb">
SELECT  FBID,
		FBTITLE,
		MEMID,
		FBDATE,
		FBCOUNT,
		FBREC
		FROM FREEBOARD
		ORDER BY FBID ASC
		</select>
		
<update id="updateFbWrite" parameterType="com.genius.model.Fb" >
UPDATE FREEBOARD SET 
						FBTITLE=#{fbtitle},
						FBCONT=#{fbcont}
				WHERE  FBID=#{fbid}

</update>


<delete id="deleteFb" parameterType="Integer" >
DELETE FROM FREEBOARD 
WHERE FBID=#{fbid}
</delete>
</mapper>
