<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genius.mapper.FbMapper">
<insert id="insertFb" parameterType="com.genius.model.Fb">

	INSERT INTO FREEBOARD(
						FBTITLE,
						FBCONT,
						FBIP,
						MEMID,
						BOARDID
					 )
			   VALUES(
						#{fbtitle},
						#{fbcont},
						#{fbip},
						#{memid},
						#{boardid}
					 )
</insert>

<select id="selectformfb" resultType="com.genius.model.Fb" parameterType="integer">
 SELECT FBID,
		FBTITLE,
		FBCONT,
		FBCONT,
		FBIP,
		BOARDID,
		MEMID,
		FBREC
   FROM FREEBOARD
  WHERE FBID= #{fbid}



</select>
</mapper>
